<% heading 'Articles' %>
<% toolbar_link glyph('add') + ' New article', new_resource_path %>

<%#= link_to glyph('add'),    new_resource_path(blog), :title => 'New article' %>
<%#= link_to glyph('delete'), resource_path(blog), :method => :delete, :confirm => 'Destroy this blog?', :title => 'Delete this blog' %>

<ul id="articles" class="tree">
  <table>
    <tr>
      <td valign="top">
        <ul class="articles">
          <li><small>Recently published:</small></li>
          <% @published.each do |article| %>
            <li>
              <%= link_to article.name, space_page_path(@space, @page, hash_for_periodical_path(article)) %>
              <span class="actions">
              -
              <%= link_to glyph('pencil'), edit_resource_path(article.draft_version) %>
              <%= link_to glyph('delete'), resource_path(article.draft_version), :method => :delete %>
              </span>
            </li>  
          <% end %>
        </ul>
      </td>
      <td valign="top">    
        <ul class="articles">
          <li><small>Never published:</small></li>
          <% @unpublished.each do |article| %>
            <li>
              <%= link_to article.name, space_page_path(@space, blog.page, hash_for_periodical_path(article)) %>
              <span class="actions">
              -
              <%= link_to glyph('pencil'), edit_resource_article_path(blog, article.draft_version) %>
              <%= link_to glyph('delete'), resource_article_path(blog, article.draft_version), :method => :delete %>
              </span>
            </li>  
          <% end %>
        </ul>  
      </td>
    </tr>
  </table>      
</ul>